Repository aram-devdocs/joby: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "*.{md,json,yaml,yml}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: add browser evaluation POC with webview integration
  apps/desktop/package.json
  apps/desktop/postcss.config.js
  apps/desktop/src/App.tsx
  apps/desktop/src/components/BrowserView.tsx
  apps/desktop/src/components/FormAnalysisPanel.tsx
  apps/desktop/src/components/SplitPanel.tsx
  apps/desktop/src/index.css
  apps/desktop/src/lib/utils.ts
  apps/desktop/src/main.ts
  apps/desktop/src/preload.ts
  apps/desktop/src/types/electron.d.ts
  apps/desktop/tailwind.config.js
  apps/desktop/webpack.main.config.js
  apps/desktop/webpack.renderer.config.js
  eslint.config.mjs
  packages/browser/package.json
  packages/browser/src/index.ts
  packages/browser/src/preload/webview-preload.ts
  packages/browser/src/services/BrowserService.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/tsconfig.json
  packages/ui/package.json
  packages/ui/src/core/badge.tsx
  packages/ui/src/core/button.tsx
  packages/ui/src/core/card.tsx
  packages/ui/src/core/index.ts
  packages/ui/src/core/input.tsx
  packages/ui/src/core/scroll-area.tsx
  packages/ui/src/core/separator.tsx
  packages/ui/src/core/skeleton.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: implement proper architecture with routing and sidebar navigation
  apps/desktop/package.json
  apps/desktop/src/App.tsx
  packages/ui/src/components/layout/Sidebar.tsx
  packages/ui/src/components/layout/SplitPanel.tsx
  packages/ui/src/features/browser/BrowserView.tsx
  packages/ui/src/features/browser/FormAnalysisPanel.tsx
  packages/ui/src/features/browser/context/BrowserContext.tsx
  packages/ui/src/features/browser/hooks/useBrowserNavigation.ts
  packages/ui/src/features/browser/index.ts
  packages/ui/src/index.ts
  packages/ui/src/pages/BrowserPage.tsx
  packages/ui/src/pages/OllamaPage.tsx
  packages/ui/src/templates/DashboardTemplate.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: remove duplicate components from desktop app
  apps/desktop/src/components/BrowserView.tsx
  apps/desktop/src/components/FormAnalysisPanel.tsx
  apps/desktop/src/components/SplitPanel.tsx
Due: prettier --write, eslint --fix

fix: use TypeScript source files directly in development
  apps/desktop/webpack.main.config.js
  apps/desktop/webpack.renderer.config.js
Due: prettier --write, eslint --fix

feat: optimize webpack config for dev vs production
  apps/desktop/package.json
  apps/desktop/webpack.main.config.js
  apps/desktop/webpack.renderer.config.js
Due: prettier --write, eslint --fix

feat: Browser Evaluation POC with Proper Architecture (#1)
  apps/desktop/package.json
  apps/desktop/postcss.config.js
  apps/desktop/src/App.tsx
  apps/desktop/src/index.css
  apps/desktop/src/lib/utils.ts
  apps/desktop/src/main.ts
  apps/desktop/src/preload.ts
  apps/desktop/src/types/electron.d.ts
  apps/desktop/tailwind.config.js
  apps/desktop/webpack.main.config.js
  apps/desktop/webpack.renderer.config.js
  eslint.config.mjs
  packages/browser/package.json
  packages/browser/src/index.ts
  packages/browser/src/preload/webview-preload.ts
  packages/browser/src/services/BrowserService.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/tsconfig.json
  packages/ui/package.json
  packages/ui/src/components/layout/Sidebar.tsx
  packages/ui/src/components/layout/SplitPanel.tsx
  packages/ui/src/core/badge.tsx
  packages/ui/src/core/button.tsx
  packages/ui/src/core/card.tsx
  packages/ui/src/core/index.ts
  packages/ui/src/core/input.tsx
  packages/ui/src/core/scroll-area.tsx
  packages/ui/src/core/separator.tsx
  packages/ui/src/core/skeleton.tsx
  packages/ui/src/features/browser/BrowserView.tsx
  packages/ui/src/features/browser/FormAnalysisPanel.tsx
  packages/ui/src/features/browser/context/BrowserContext.tsx
  packages/ui/src/features/browser/hooks/useBrowserNavigation.ts
  packages/ui/src/features/browser/index.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/pages/BrowserPage.tsx
  packages/ui/src/pages/OllamaPage.tsx
  packages/ui/src/templates/DashboardTemplate.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add Storybook to monorepo with initial component stories
  .gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/storybook/tsconfig.json
  apps/storybook/tsconfig.node.json
  apps/storybook/vite.config.ts
  eslint.config.mjs
  package.json
  packages/ui/src/components/Button.stories.tsx
  packages/ui/src/components/Card.stories.tsx
  packages/ui/src/components/Input.stories.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(storybook): add initial Storybook integration with Tailwind CSS
  apps/desktop/package.json
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/storybook/postcss.config.cjs
  apps/storybook/tailwind.config.cjs
  packages/ui/STORYBOOK_TEMPLATE.md
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/components/Select.stories.tsx
  packages/ui/src/components/TailwindTest.stories.tsx
  packages/ui/src/components/TextArea.stories.tsx
  packages/ui/src/core/badge.stories.tsx
  packages/ui/src/core/separator.stories.tsx
  packages/ui/src/styles.css
  packages/ui/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: resolve Storybook configuration issues and add comprehensive stories
  apps/desktop/package.json
  apps/desktop/tailwind.config.js
  apps/storybook/.eslintignore
  packages/ui/package.json
  packages/ui/src/components/HelloWorld.stories.tsx
  packages/ui/src/components/OllamaChat.stories.tsx
  packages/ui/src/components/Select.stories.tsx
  packages/ui/src/core/button.stories.tsx
  packages/ui/src/core/card.stories.tsx
  packages/ui/src/core/input.stories.tsx
  packages/ui/src/core/scroll-area.stories.tsx
  packages/ui/src/core/skeleton.stories.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: improve Storybook configuration and linting
  apps/storybook/.eslintignore
  apps/storybook/.gitignore
  eslint.config.mjs
Due: none

fix: align documentation with implementation and add Storybook build check
  .husky/pre-commit
  packages/ui/DESIGN_SYSTEM.md
  packages/ui/STORYBOOK_TEMPLATE.md
  packages/ui/src/atoms/index.ts
  packages/ui/src/atoms/select.stories.tsx
  packages/ui/src/atoms/select.tsx
  packages/ui/src/atoms/text-area.stories.tsx
  packages/ui/src/atoms/text-area.tsx
  packages/ui/src/molecules/OllamaChat.tsx
Due: prettier --write, eslint --fix

feat: implement comprehensive QA enforcement system
  .claude/.gitignore
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  .prettierrc.js
  docs/CODING_STANDARDS.md
  docs/QA_ENFORCEMENT.md
  docs/QA_IMPLEMENTATION_SUMMARY.md
  package.json
  packages/eslint-config/base.js
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/typescript-config/base.json
  packages/typescript-config/electron-main.json
  packages/typescript-config/electron-renderer.json
  packages/typescript-config/node.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: remove unsupported --if-present flag and fix Husky deprecation warnings
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .husky/pre-push
Due: prettier --write

feat: complete QA enforcement implementation
  apps/desktop/tsconfig.json
  apps/storybook/tsconfig.json
  package.json
  packages/browser/tsconfig.json
  packages/eslint-config/base.js
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  turbo.json
  vitest.config.ts
  vitest.setup.ts
Due: prettier --write, eslint --fix

fix: correct TypeScript config paths for all packages
  apps/desktop/tsconfig.json
  apps/storybook/tsconfig.json
  packages/browser/tsconfig.json
  packages/ui/tsconfig.json
Due: prettier --write

fix: resolve TypeScript strict mode errors in browser package
  packages/browser/src/services/BrowserService.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/tsconfig.json
Due: prettier --write, eslint --fix

fix: resolve additional TypeScript strict mode errors in UI package
  packages/ui/src/contexts/browser/BrowserContext.tsx
  packages/ui/src/molecules/OllamaChat.tsx
  packages/ui/src/pages/BrowserPage.tsx
  packages/ui/src/pages/OllamaPage.tsx
  packages/ui/src/templates/DashboardTemplate.tsx
Due: prettier --write, eslint --fix

feat: enhance multi-layer enforcement to prevent broken commits
  .husky/prepare-commit-msg
  docs/ENFORCEMENT_LAYERS.md
  scripts/check-types-staged.sh
Due: prettier --write

feat: comprehensive QA enforcement with zero tolerance for errors/warnings
  .github/workflows/ci.yml
  .husky/pre-commit
  apps/desktop/package.json
  apps/desktop/src/main.ts
  apps/desktop/src/types/electron.d.ts
  apps/desktop/src/types/global.d.ts
  apps/desktop/tsconfig.json
  apps/storybook/.storybook/main.ts
  eslint.config.mjs
  package.json
  packages/browser/package.json
  packages/browser/src/preload/webview-preload.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/llm/package.json
  packages/llm/src/ollama/service.ts
  packages/ui/package.json
  packages/ui/src/atoms/button.stories.tsx
  packages/ui/src/atoms/button.test.tsx
  packages/ui/src/atoms/input.stories.tsx
  packages/ui/src/atoms/scroll-area.stories.tsx
  packages/ui/src/atoms/text-area.stories.tsx
  packages/ui/src/features/browser/BrowserView.stories.tsx
  packages/ui/src/features/browser/BrowserView.tsx
  packages/ui/src/features/browser/FormAnalysisPanel.stories.tsx
  packages/ui/src/hooks/useBrowserNavigation.ts
  packages/ui/src/molecules/HelloWorld.stories.tsx
  packages/ui/src/molecules/HelloWorld.tsx
  packages/ui/src/molecules/OllamaChat.stories.tsx
  packages/ui/src/molecules/OllamaChat.tsx
  packages/ui/src/organisms/layout/Sidebar.stories.tsx
  packages/ui/src/pages/BrowserPage.tsx
  packages/ui/vitest.setup.ts
  turbo.json
Due: prettier --write, eslint --fix

refactor: remove all eslint-disable comments with proper types
  packages/ui/src/features/browser/BrowserView.tsx
  packages/ui/src/types/electron-webview.d.ts
Due: prettier --write, eslint --fix

fix: update pre-push hook to use typecheck instead of check-types
  .husky/pre-push
Due: none

feat: optimize CLAUDE.md and add orchestrator-first agent architecture
  .claude/agents/backend-specialist.md
  .claude/agents/code-reviewer.md
  .claude/agents/frontend-specialist.md
  .claude/agents/fullstack-engineer.md
  .claude/agents/orchestrator.md
  .claude/agents/system-architect.md
  .claude/agents/test-engineer.md
  CLAUDE.md
Due: prettier --write

fix: add missing domhandler dependency to browser package
  packages/browser/package.json
  packages/ui/STORYBOOK_TEMPLATE.md
  pnpm-lock.yaml
Due: prettier --write

fix: build packages before typecheck in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

feat: add direct Prettier formatting to pre-commit hook
  .husky/pre-commit
  packages/ui/src/features/browser/BrowserView.stories.tsx
  packages/ui/src/molecules/HelloWorld.stories.tsx
  packages/ui/src/molecules/HelloWorld.tsx
  packages/ui/src/organisms/layout/Sidebar.stories.tsx
Due: prettier --write, eslint --fix

fix: replace check-types with typecheck in release workflow
  .github/workflows/release.yml
Due: prettier --write

docs: update README.md to accurately describe Joby project
  README.md
  docs/QA_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

feat: implement interactive form field editing with real-time sync
  apps/desktop/src/main.ts
  apps/desktop/src/preload.ts
  apps/desktop/src/types/electron.d.ts
  apps/desktop/src/types/form.ts
  apps/test-server/package.json
  apps/test-server/public/index.html
  apps/test-server/public/simple-form.html
  apps/test-server/public/test-menu.html
  apps/test-server/server.js
  package.json
  packages/browser/src/index.ts
  packages/browser/src/services/BrowserService.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/src/services/FormInteractionService.ts
  packages/ui/src/atoms/FieldStatusIndicator.tsx
  packages/ui/src/atoms/InteractiveFormInput.tsx
  packages/ui/src/atoms/index.ts
  packages/ui/src/contexts/browser/BrowserContext.tsx
  packages/ui/src/features/browser/BrowserView.tsx
  packages/ui/src/features/browser/index.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useFieldSync.ts
  packages/ui/src/hooks/useFormFieldSelection.ts
  packages/ui/src/index.ts
  packages/ui/src/molecules/FormFieldEditor.tsx
  packages/ui/src/molecules/FormFieldList.tsx
  packages/ui/src/molecules/index.ts
  packages/ui/src/organisms/InteractiveFormPanel.tsx
  packages/ui/src/organisms/index.ts
  packages/ui/src/pages/BrowserPage.tsx
  packages/ui/src/types/form.ts
  packages/ui/src/types/window.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: improve form field synchronization UX and reliability
  packages/browser/src/services/BrowserService.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/src/services/FormInteractionService.ts
  packages/ui/src/contexts/browser/BrowserContext.tsx
  packages/ui/src/features/browser/BrowserView.tsx
  packages/ui/src/molecules/FormFieldEditor.tsx
  packages/ui/src/molecules/FormFieldList.tsx
  packages/ui/src/organisms/InteractiveFormPanel.tsx
  packages/ui/src/types/electron-webview.d.ts
  packages/ui/src/types/form.ts
Due: prettier --write, eslint --fix

fix: comprehensive form field validation and rendering improvements
  apps/test-server/public/basic-form.html
  apps/test-server/public/comprehensive-form.html
  apps/test-server/public/index.html
  apps/test-server/public/simple-form.html
  apps/test-server/public/test-menu.html
  packages/browser/src/services/BrowserService.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/src/services/FormInteractionService.ts
  packages/ui/src/contexts/browser/BrowserContext.tsx
  packages/ui/src/molecules/FormFieldInput.tsx
  packages/ui/src/organisms/InteractiveFormPanel.tsx
  packages/ui/src/types/form.ts
  packages/ui/src/utils/formValidation.ts
  test-form-validation.html
Due: prettier --write, eslint --fix

fix: correct BrowserProvider import in InteractiveFormPanel stories
  packages/ui/src/features/browser/FormAnalysisPanel.stories.tsx
  packages/ui/src/molecules/FormFieldInput.stories.tsx
  packages/ui/src/organisms/InteractiveFormPanel.stories.tsx
Due: prettier --write, eslint --fix

docs: update orchestrator.md to clarify coordinator responsibilities
  .claude/agents/orchestrator.md
Due: prettier --write

feat: implement persistent settings storage with enhanced form field detection
  apps/desktop/package.json
  apps/desktop/src/App.tsx
  apps/desktop/src/main.ts
  apps/desktop/src/preload.ts
  apps/desktop/src/types/electron.d.ts
  packages/browser/package.json
  packages/browser/src/services/BrowserService.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/src/services/FormInteractionService.ts
  packages/browser/src/services/field-enhancement/FieldEnhancementService.ts
  packages/browser/src/services/field-enhancement/cache/SimpleMemoryCache.ts
  packages/browser/src/services/field-enhancement/enhancers/LLMEnhancer.ts
  packages/browser/src/services/field-enhancement/enhancers/StaticEnhancer.ts
  packages/browser/src/services/field-enhancement/index.ts
  packages/browser/src/services/field-enhancement/types.ts
  packages/ui/src/features/browser/BrowserView.tsx
  packages/ui/src/index.ts
  packages/ui/src/molecules/FormFieldEditor.tsx
  packages/ui/src/pages/SettingsPage.tsx
  packages/ui/src/types/electron-webview.d.ts
  packages/ui/src/types/form.ts
  packages/ui/src/types/window.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: remove static pattern-based field detection
  apps/desktop/src/App.tsx
  apps/desktop/src/main.ts
  apps/desktop/src/preload.ts
  apps/desktop/src/types/electron.d.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/src/services/field-enhancement/FieldEnhancementService.ts
  packages/browser/src/services/field-enhancement/enhancers/StaticEnhancer.ts
  packages/browser/src/services/field-enhancement/index.ts
  packages/browser/src/services/field-enhancement/types.ts
  packages/ui/src/pages/SettingsPage.tsx
  packages/ui/src/types/window.d.ts
Due: prettier --write, eslint --fix

feat: enhance UX with loading states and always-on LLM architecture
  apps/desktop/src/App.tsx
  apps/desktop/src/main.ts
  apps/desktop/src/preload.ts
  apps/desktop/src/types/electron.d.ts
  apps/desktop/src/types/window.d.ts
  packages/browser/src/services/FormAnalyzer.ts
  packages/browser/src/services/field-enhancement/FieldEnhancementService.ts
  packages/browser/src/services/field-enhancement/enhancers/LLMEnhancer.ts
  packages/browser/src/services/field-enhancement/types.ts
  packages/ui/src/atoms/skeleton.tsx
  packages/ui/src/contexts/browser/BrowserContext.tsx
  packages/ui/src/features/browser/BrowserView.tsx
  packages/ui/src/index.ts
  packages/ui/src/organisms/InteractiveFormPanel.tsx
  packages/ui/src/pages/BrowserPage.tsx
  packages/ui/src/pages/SettingsPageOld.tsx
  packages/ui/src/types/window.d.ts
Due: prettier --write, eslint --fix
